<br>
<br>
<a href='/' class="home-link"> 
  <img src="https://upload.wikimedia.org/wikipedia/commons/e/e1/Tokyoship_Home_icon.svg" alt="home-link" width="50px" />
</a>
<div class="wrapper">
<h1 class="public_recipes_title">Public Recipes </h1>
<% @public_recipes.each do |item| %>
  <%= render partial: "public_recipe_card", locals: {recipe: item} %>
<% end %>
</div>