.recipes_container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
}

.recipes_container form {
  align-self: flex-end;
}

.recipes_container #recipes {
  width: 60%;
}

.recipes_container #recipes > div {
  display: flex;
  gap: 20px;
  border: 1px solid black;
  height: 100px;
  width: 100%;
  padding: 20px;
}

.recipes_container #recipes div div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 10%;
}

.recipes_container #recipes div div:first-child button {
  border: 0;
  text-decoration: underline;
  color: blue;
}

.new-recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-recipe-container form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new-recipe-container form input,
.new-recipe-container form textarea {
  width: 100%;
}

.public-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.new-recipe-container form .public-container input {
  width: fit-content;
}

.icone-recipe {
  margin-left: 40%;
  margin-top: 0;
}

.recip-general-info {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-left: 5%;
}

.recipe-title {
  margin-left: 45%;
  margin-bottom: 40px;
}

.recip-process {
  display: flex;
  flex-direction: column;
}

.recip-process p {
  font-weight: 700;
}

.public-state {
  font-weight: 700;
}

input[name="public"] {
  width : 40px;
}

.generating-btn {
  display: flex;
  width: 90%;
  margin-left: 5%;
  justify-content: space-around;
}


hr {

  height: 10px;
  width: 65%;
  margin-left: 17.5%;
  border: solid 1px;
}

table {
  width:65%;
  margin-left: 17.5%;
  border: 2px solid rgb(92, 99, 106);
  border-collapse: collapse;
  margin-bottom: 300px;
}

th,td {
  border-right: 2px solid rgb(92, 99, 106);
  text-align: center;
}

body {
  position: relative;
  overflow: scroll;
}

.colored {
  background-color: rgb(238,230,230);
}